<!doctype html>
<html>
  <head>
    <%= partial "layouts/partials/HEAD" %>   
  </head>
  <body>
    <%= partial "layouts/partials/nav" %>
    
    <div class="container">       
      <h1 class="text-center"><%= current_page.data.title %></h1>
      <p class="text-center"><%= current_page.date.strftime('%b %e, %Y') %></p>
      <% if !current_page.published? %><p class="text-center">(DRAFT)</p> <% end %>
      <hr/><br/>
      <!-- It just dumps markdown below this.-->
      <%= yield %>
      <hr/>
      <%= partial "layouts/partials/article_nav_footer" %>
    </div>
    
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <%= javascript_include_tag "bootstrap.min.js" %>
  </body>
</html>
