<meta charset="utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= current_page.data.title || "Blog | Michael Ford" %></title>
<%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

<link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Fjord+One' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "bootstrap.min.css" %>
<%= stylesheet_link_tag "../../custom.css" %>
<%= favicon_tag 'content/images/favicon.ico' %>