---
pageable: false
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<!-- Anything on this site was taking up too much space in my brain -->
<!-- If my brain was better, this site wouldn't need to exist-->
<!-- The following ideas were too jumbled for my actual brain so I've attempted to make sense of them here. -->
<div class="page-header">
  <p>This is where I store the overflow from my brain <br><small>(which is also in greyscale)</small></p>
</div>

<!-- List all posts (titles only) -->
<% if page_articles.length > 0 %>
<div class="panel panel-default">
  <div class="panel-heading">Recent Posts</div>

  <!-- List group -->
  <div class="list-group">
    <% page_articles.each_with_index do |article, i| %>
    <% link_to article do %>
      <a href="<%= article.url %>" class="list-group-item clearfix" >
        <span class="list-group-item-heading"><%= article.title %></span>
        <span class="pull-right small hidden-xs">
          <% if !article.published? %>(DRAFT) <% else %> <%= article.date.strftime('%b %e %Y') %><% end %>
        </span>
      </a>
    <% end %>    
    <% end %>
  </div>
</div>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
